body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

/*
.carousel-item {
  height: 100vh
}
*/

/*
#home {
  background-image: url(../img/background.jpg);
  height: 100vh;
  width: 100;
  background-size: cover;
  background-position center center;
  background-repeat: no-repeat;
}
*/

a {
  color: inherit;
  text-decoration: none;
}

.addpadding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.deadhorse {
  width: 100%;
  height: 100vh;
  background: url("../img/background.jpg");
  background-position: center 50px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.deadhorse h1 {
  line-height: 6rem;
  letter-spacing: 0.8rem;
  color: rgba(255,255,255,0.7);
}

.deadhorse h2 {
  line-height: 2.5rem;
  letter-spacing: 0.5rem;
  color: rgba(255,255,255,0.7);
  padding-bottom: 3rem
}

/*
.carousel-indicators li {
  border-radius: 14px;
  width: 14px;
  height: 14px;
  background-color: #a1a1a1;
}
*/

.mybtn-white {
  border: 2px solid rgba(255,255,255,0.7);
  background-color: transparent;
}

.mybtn-white:hover {
  border: 3px solid white;
  color: white;
}

nav {
  letter-spacing: 0.4rem;
  font-size: 14px;
}

.navbar-brand {
font-size: 14px;
}

.populartrips {
  background-color: #343940;
  color: rgba(255,255,255,0.5);

}

#shadow {
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #222222);
}

.social-icons {
  text-align: center;
  }  
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:70px;
  height:70px;
}

.whatwedo {
  background-color: #343940;
}

.whatwedo h1 {
  color: rgba(255,255,255, 1);
  letter-spacing: 0.6rem;
  line-height: 5rem;
}

.whatwedo p {
  color: rgba(255,255,255,0.5);
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
}

.whatwedo .row {
    padding: 50px 50px;
};

.whatwedo .row {
  paddding: 100px 100x;
}